<!DOCTYPE html>
<html>
  <head>
    <title>eqn.io</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed">

    <link href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css" rel="stylesheet">
    <link href="<%= asset_path "application.css" %>" rel="stylesheet">

    <script src="<%= asset_path "application.js" %>"></script>
  </head>
  <body>
  </body>
</html>
