!!! 5
%html
  %head
    %title \eqn | create and share equations easily

    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, minimal-ui", name: "viewport"}/

    = css :app, media: "screen"
    %link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css"}

    %script{src: "//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}

    = js :app

  %body
    %script{type: "text/x-handlebars"}
      {{outlet}}

    %script{type: "text/x-handlebars", data: {template_name: "loading"} }
      .loading-indicator
        %span
        %span
        %span

    %script{type: "text/x-handlebars", data: {template_name: "equations/error"} }
      %section#error
        %h1 Oops... an error occured.

        {{#link-to "equations.new"}}Create a new equation{{/link-to}}

    %script{type: "text/x-handlebars", data: {template_name: "equations/help"} }
      %nav
        #logo \eqn
        %ul
          %li
            {{#link-to "equations.new" }}
            {{#if continueIsAvailable}}Continue{{/if}}
            {{#unless continueIsAvailable}}New{{/unless}}
            {{/link-to}}

      %h1 {{title}}
      %section#equation
        .info \eqn help
        .markdown {{renderEquation code}}

    %script{type: "text/x-handlebars", data: {template_name: "equations/show"} }
      %nav
        #logo \eqn
        %ul
          %li
            {{#link-to "equations.new" }}
            {{#if continueIsAvailable}}Continue{{/if}}
            {{#unless continueIsAvailable}}New{{/unless}}
            {{/link-to}}
          %li
            <a {{action "forkEquation"}}>Fork</a>
          %li.sep
          %li
            {{#link-to "equations.help"}}Help{{/link-to}}

      %section#equation
        .info {{formatTimestamp createdAt}}
        .markdown {{renderEquation code}}

    %script{type: "text/x-handlebars", data: {template_name: "equations/new"} }
      %nav
        #logo \eqn
        %ul
          %li.save
            {{loading-button isVisible=isValid isLoading=isLoading buttonText="Save" action="createEquation"}}
          %li.sep
          %li
            {{#link-to "equations.help"}}Help{{/link-to}}

      %section#new
        #editor
          {{code-textarea value=code disabled=isLoading}}
        #preview
          .markdown {{renderEquation code}}

    %script{type: "text/x-handlebars", data: {template_name: "components/loading-button"} }
      <a {{bind-attr class="isVisible:visible :loading-button"}} {{action "showLoading"}}>
      {{#if isLoading}}
      <span></span><span></span><span></span>
      {{else}}
      {{buttonText}}
      {{/if}}
      </a>
