<li {{bind-attr class="continueIsAvailable:continue:new"}}>
  {{#link-to "equations.new" }}
    {{#if continueIsAvailable}}Continue{{/if}}
    {{#unless continueIsAvailable}}New{{/unless}}
  {{/link-to}}
</li>
