<div {{bind-attr class="switchState:on:off :switch-container"}}>
  <span class="off">{{{onText}}}</span>
  <div class="switch"><div class="knob"></div></div>
  <span class="on">{{{offText}}}</span>
</div>
